extends layout

block content
	link(rel='stylesheet', href='/stylesheets/category.css')
	include header

	div.category-menu
		div.container
			div.ui.large.secondary.pointing.menu
				a.item(href='/home') 主页
				each tag_item in tags
					if tag.tag_name == tag_item.tag_name
						a.tag.active.item(href='/category?tag_id='+'#{tag_item._id}'+'\&sorted='+'#{sorted}') #{tag_item.tag_name}
					else
						a.tag.item(href='/category?tag_id='+'#{tag_item._id}'+'\&sorted='+'#{sorted}') #{tag_item.tag_name}

	div.search-result
		div.container
			ul
				each music in music_list
					li
						div.item
							div.ui.card.small-item
								div.blurring.dimmable.image.small-item
									img(src='')
									div.ui.dimmer
										div.content
											i.large.play.icon
							div.l-r
								a.title(href='#') #{music.name}
								div.v-desc #{music.introduction}
								div.v-info
									span.bf
										i.toggle.right.icon
										span #{music.listenN}
									span.pl
										i.comment.outline.icon
										span #{music.commentN}
								a.author(href='') #{music.author.username}
		div.page-selector
			div.button-groups
			div.page-jump
				p 第
				div.ui.input
					input(type="text" value="1" style="padding: .6em .8em .6em .8em;")
				p.total /#{tot_count}
				p 页


	include footer

	script.
		window.tot_count = !{JSON.stringify(tot_count)};

	script(src="/javascripts/category.js")