extends layout

block content
	link(rel='stylesheet', href='/stylesheets/home.css')

	- var categories = ['流行', '抒情', 'BGM', '怀旧', '运动']

<<<<<<< HEAD
	a.anchor(id='top')
	include header

	div.category-menu
		div.container
			div.ui.large.secondary.pointing.menu
				a.active.item 主页
					each category in categories
						a.item #{category}

	div.sticky-menu
		div.ui.sticky
			div.ui.middle.aligned.animated.list
				each category in categories
					div.item
						a.ui.button(href='#'+'#{category}') #{category}
				div.ui.divider
				a.ui.icon.button(href='#top')
					i.big.fitted.caret.up.icon(style='margin-top:-6px;')

=======
	include header.jade
	
>>>>>>> 1642e2e86f3d8ac66f072637d616a32cf197bba9
	div.page-content
		div.preview
			div.container
				div.l-preview
					div.topic-preview-wrapper
						div.ui.card
							div.image
								img(src='#')
				div.r-preview
					div.list-preview-wrapper
						ul
							- for (var i = 0; i < 8; ++i)
								li
									div.ui.card.small-item
										div.blurring.dimmable.image.small-item
											img(src='#')
											div.ui.dimmer
												p.title 作品名称可以很长很长很长很长的喔
												p.info 作者: 很黄很暴力
												p.info 播放: 1000
		each category in categories
			div.category
				a.anchor(id='#{category}')
				div.container
					div.l-list
						div.ui.secondary.menu
							div.item
								h2 #{category}
							div.right.menu
								div.item
									div.ui.basic.button 更多
						div.content-wrapper
							ul
								- for (var i = 0; i < 10; ++i)
									li
										div.ui.card.small-item
											div.image.small-item
												img(src='#')
										p 作品名称可以很长很长很长很长的喔
					div.r-list
						div.rank
							div.ui.secondary.menu
								h3.item 排行
							div.content-wrapper
								div.ui.selection.list
									- for (var i = 1; i < 4; ++i)
										div.item
											div.ui.red.horizontal.label #{i}
											div.title 非常棒的作品
									- for (var i = 4; i < 9; ++i)
										div.item
											div.ui.horizontal.label #{i}
											div.title 非常棒的作品

<<<<<<< HEAD
	include footer

=======
	include footer.jade
	
>>>>>>> 1642e2e86f3d8ac66f072637d616a32cf197bba9
	script(src="/javascripts/home.js")