extends ../layout

block content
    - var categories = []
    - var num = [userInfo.original_musics.length,userInfo.derivative_musics.length,userInfo.collected_musics.length]
    - var e_cate = []
    if num[0] > 0
        -e_cate.push('original_musics')
        -categories.push('自制音乐');
    if num[1] > 0
        -e_cate.push('derivative_musics')
        -categories.push('改编音乐');
    if num[2] > 0
        -e_cate.push('collected_musics')
        -categories.push('收藏音乐');
    link(rel='stylesheet', href='/stylesheets/individual.css')
    script(src='/javascripts/individual.js')

    include ../top_marked
    include ../header
    include ../top_button

    div.category-menu
        div.container
            div.ui.large.secondary.pointing.menu
                each category in categories
                    a.item(href='#'+'#{category}') #{category}


    div.page-content
        div.person_top
            div.category
                div.container
                    div.content-wrapper
                        div.left_head
                            img.ui.medium.circular.image.myimage(src="/resources/images/default_head.jpg")
                        div.message
                            div.name #{userInfo.username}
                            div.detail_message #{userInfo.introduction}
                            if user
                                if user._id == userInfo._id
                                    button.ui.green.button(id='edit') 修改个人信息


        div.music_repository
            - for (var i = 0; i < categories.length; i++)
                div.category
                    a.anchor(id='#{categories[i]}')
                    div.container
                        div.l-list
                            div.ui.secondary.menu
                                div.item
                                    h2 #{categories[i]} ( #{userInfo[(e_cate[i])].length} )
                                div.right.menu
                                    div.item
                                        div.ui.basic.button(id="#{e_cate[i]}_left_button",style="margin-right:15px;") 上一页
                                        div.ui.basic.button(id="#{e_cate[i]}_right_button") 下一页
                            div.content-wrapper
                                ul(id = "#{e_cate[i]}")
                                    if userInfo[(e_cate[i])].length < 10
                                        -var i_num = userInfo[(e_cate[i])].length
                                    if userInfo[(e_cate[i])].length >= 10
                                        -var i_num = 10
                                    - for (var j = 1; j <= i_num; ++j)
                                        li
                                            div.ui.card.small-item
                                                div.image.small-item
                                                    img(src="#{userInfo[(e_cate[i])][userInfo[(e_cate[i])].length-j]['cover']}")
                                            p(align="center") #{userInfo[(e_cate[i])][userInfo[(e_cate[i])].length-j]['name']}


    
    script.
        window.user = !{JSON.stringify(userInfo)};
        console.log(user);
        //console.log(user['collected_musics'][0])
        //console.log(user['collected_musics'][0]['cover'])
        //console.log(user['collected_musics'][0]['name'])

    include ../footer